modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 19450
externalPort = 3000

[[ports]]
localPort = 19451
externalPort = 3002

[userenv]

[userenv.shared]
ADMIN_SETUP_SECRET = "fw-admin-setup-db1dipta"
EASEBUZZ_KEY = "DNGBVIAY44"
EASEBUZZ_SALT = "PNIY8SNRWQ"
EASEBUZZ_ENV = "test"
